//- Source file for a poll page is rendered based on the following:
//- 1. If a user is authenticated, adds "Add Option" button
//- 2. If a user is the poll creator, add a Delete Button as well

- var votedAlready = typeof alreadyVoted !== "undefined";

include mixins.pug

doctype html
html
  head
    meta(http-equiv="content-type" content="text/html; charset=utf-8")

    title= pollName

    script(src="https://d3js.org/d3.v4.min.js")
    script(src="/common/gen_chart.js")

    +styleSheets()

  body

    +topMenu("poll")
    +appTitle()

    div.container
      div.row
        div.col-md-1

        //- This part handles data input from users
        div.col-md-5.poll-page-box
          h1= pollName

          - if (isCreator)
            p To share the poll, you can use the following link: 
              a(href=pollURI)= pollURI
            form(method="GET" action="/polls/delete/" + pollID)
              button.btn.btn-delete.btn-danger(type="submit") Delete Poll

          //- Generate voting options for the user.
          div.voting-radio-buttons
            form(method="POST" action="/polls/vote/" + pollID)
              - for (var i = 0; i < options.length; i++) {
                div.form-group
                  input.poll-radiobutton(type="radio" name="option" value="" + options[i])
                  label.poll-radiobutton-label= options[i]
              -}
              button.btn.btn-clem(type="submit") Vote!

            - if (votedAlready)
              p.text-danger You have already voted on this poll.

          //- Form for adding a voting option to the poll (for reg users)
          - if (isAuth)
            p As a registered user, feel free to create a new voting option:
            form(method="POST" action="/polls/update/" + pollID)
              input.form-control#optionField(
                name="option" type="text" placeholder="Option" pattern="^[^<>/]+$")
              button.btn.btn-clem(type="submit") Add Option

        //- This part shows the poll results as a chart
        div.col-md-5.poll-page-box#poll-chart

        div.col-md-1

    +appFooter()

    script(type="text/javascript" src="/common/ajax-functions.js")
    script(type="text/javascript" src="/controllers/pollController.client.js")

